# Ignore everything by default
*

# Keep repository meta/docs
!/.gitignore
!/LICENSE
!/README.md

# Keep modpack manifests
!/minecraftinstance.json
!/pakku.json
!/pakku-lock.json

# Keep tracked config/script trees (including contents)
!/config/
!/config/**
!/defaultconfigs/
!/defaultconfigs/**
!/kubejs/
!/kubejs/**
!/emotes/
!/emotes/**
!/resourcepacks/
!/resourcepacks/**

# Keep CI workflow files
!/.github/
!/.github/**
!/scripts/
!/scripts/**

# Ignore local configs
/config/jei/world/
/config/jei/world/**
/config/spark/activity.json
/config/structurify/structurify_backup*
/config/ars_nouveau/search_index/*
/config/luckperms/yaml-storage/users/*
/config/luckperms/yaml-storage/uuidcache.txt
/config/luckperms/yaml-storage/actions.txt
/config/luckperms/luckperms-h2-v2.mv.db

.probe
